aiohttp==3.8.1
aiosignal==1.2.0
analytics-python==1.4.0
anyio==3.6.1
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037492802/work
asgiref==3.4.1
astor==0.8.1
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Babel==2.10.3
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==1.10.0
bce-python-sdk==0.8.73
bcrypt==3.2.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814693874/work
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.0.4
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama==0.4.5
colorlog==6.6.0
contextlib2==21.6.0
contextvars==2.4
cryptography==37.0.2
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dask @ file:///tmp/build/80754af9/dask-core_1615055117017/work
dataclasses==0.8
datasets==2.3.2
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.4
distlib==0.3.4
easydict==1.9
entrypoints==0.3
fastapi==0.78.0
ffmpy==0.3.0
filelock==3.4.1
flake8==4.0.1
Flask==2.0.3
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-Executor==0.10.0
frozenlist==1.2.0
fsspec==2022.1.0
future==0.18.2
gradio==3.0.12
gunicorn==20.1.0
h11==0.13.0
huggingface-hub==0.4.0
identify==2.4.4
idna==3.3
idna-ssl==1.1.0
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
immutables==0.18
importlib-metadata==4.2.0
importlib-resources==5.2.3
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itsdangerous==2.0.1
jedi==0.17.0
jieba==0.42.1
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib==1.1.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1633420100582/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
linkify-it-py==1.0.3
markdown-it-py==2.0.1
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528150516/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846044287/work
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
monotonic==1.6
multidict==5.2.0
multiprocess==0.70.12.2
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914804165/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nodeenv==1.6.0
notebook @ file:///tmp/build/80754af9/notebook_1629197205351/work
numpy==1.15.2
olefile==0.46
opencv-python==4.6.0.66
opt-einsum==3.3.0
orjson==3.6.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
paddle-bfloat==0.1.2
paddle2onnx==0.9.7
paddlefsl==1.1.0
paddlehub==2.2.0
paddlenlp==2.3.3
paddlepaddle==2.3.0
pandas==1.1.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
paramiko==2.11.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1614711422658/work
platformdirs==2.4.0
pre-commit==2.17.0
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyarrow==6.0.1
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.14.1
pydantic==1.9.1
pydub==0.25.1
pyflakes==2.4.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyNaCl==1.5.0
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141725711/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-multipart==0.0.5
pytz==2022.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658315997/work
PyYAML==5.4.1
pyzmq==23.2.0
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
rarfile==4.0
requests==2.27.1
responses==0.17.0
scikit-image==0.14.0
scikit-learn==0.24.2
scipy==1.1.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.96
seqeval==1.2.2
shellcheck-py==0.8.0.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.2.0
starlette==0.19.1
TBB==0.2
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
threadpoolctl==3.1.0
toml==0.10.2
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==0.4.1
torchvision==0.2.1
tornado @ file:///tmp/build/80754af9/tornado_1606942266872/work
tqdm==4.64.0
traitlets @ file:///tmp/build/80754af9/traitlets_1632746497744/work
typing_extensions==4.1.1
uc-micro-py==1.0.1
urllib3==1.26.9
uvicorn==0.16.0
virtualenv==20.14.1
visualdl==2.2.3
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.1
xxhash==3.0.0
yarl==1.7.2
zipp==3.6.0
